@CHARSET "ISO-8859-1";

body {
	font-size: 10px;
	background: url('../images/background1.jpg') repeat left top;
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ff6666;
}

a:hover {
	text-decoration: none;
	color: #524e47;
}

p {
	margin: 0em;
	font-size: 12px;
}

p a {margin 0;
	
}

/* MAIN WRAP FOR SHADOW*/
#pageWrapperBorder {
	width: 1014px;
	background: url('../images/pageWrapperBorder.png') repeat center top;
	margin: 10px auto;
	padding: 0px;
	min-height: 990px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* CONTENT WRAP */
#pageWrapper {
	overflow: hidden;
	width: 970px;
	background: url('../images/background.jpg') repeat center top;
	margin: 0 auto;
	padding: 0;
	min-height: 990px;
	height: auto;
}

/* HEADER */
#header {
	margin: 0 auto;
	margin-top: 2px;
	height: 250px;
	padding: 5px;
	text-align: center;
	border: 0;
	border-bottom: red 0px solid;
	width: 970px;
	overflow: hidden;
}

/* TOP */
.borderWrapperLine {
	margin-top: 10px;
	width: 990px;
	background: url('../images/header-top.png') repeat-x center top;
	margin: 0 auto;
	padding: 0;
	height: 21px;
}

/* LOGO */
#logo {
	margin: 0;
	padding: 0;
	width: 300px;
	height: 210px;
	float: left;
}

#logo h1 {
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
}

#logo h1 a {
	display: block;
	width: 300px;
	height: 210px;
	text-indent: -5000px;
	background: url('../images/logo-oglasi-nis.png') left no-repeat;
}

/* NAVIGATION */
#main_navigation {
	float: left;
	width: 600px;
	height: 53px;
	margin: 0;
	padding: 0;
	background: url('../images/breaker.png') no-repeat left bottom;
}

#main_navigation ul {
	float: right;
	width: 600px;
	height: 40px;
	margin: 5px 0 0 0;
}

#main_navigation ul li {
	width: 135px;
	height: 30px;
	diplay: inline;
	list-style: none;
	float: left;
	padding: 5px;
	margin: 2px;
}

#main_navigation ul li a {
	font-size: 25px;
	color: #ff6666;
	text-decoration: none;
	margin: 2px;
}

#main_navigation ul li a:hover,#main_navigation ul li a.on {
	color: #fff;
	text-decoration: none;
}

#main_navigation ul li:hover {
	padding: 5px;
	margin: 2px;
	width: 135px;
	height: 25px;
	diplay: inline;
	list-style: none;
	float: left;
	background: #ff6666;
	/*--Top right rounded corner--*/
	-moz-border-radius-topright: 10px;
	-khtml-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	/*--Top left rounded corner--*/
	-moz-border-radius-topleft: 10px;
	-khtml-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

#main_navigation ul li:hover a,#main_navigation ul li:hover a:hover,#main_navigation ul li:hover a.on
	{
	color: #fff;
	text-decoration: none;
}

/* SEARCH FORM */
.searchForm1 {
	float: left;
	line-height: 18px;
	width: 190px;
	height: auto;
	margin: 0 auto;
	padding: 3px;
	overflow: hidden;
	text-align: center;
}

/* INPUT */
.input {
	margin: 5px auto;
	text-align: center;
	font-size: 15px;
	color: #3399ff;
	-moz-border-radius: 5px;
	border: 1px solid #99ccff;
}

input {
	margin: 5px auto;
	text-align: center;
	font-size: 15px;
	color: #3399ff;
	-moz-border-radius: 5px;
	border: 1px solid #99ccff;
}

.submit {
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	color: white;
	padding: 1px;
	margin: 0 auto 0 35px;
	width: 120px;
	height: 30px;
	diplay: inline;
	list-style: none;
	float: left;
	background: #ff6666;
	border-color: white;
	/*--Top right rounded corner--*/
	-moz-border-radius-topright: 10px;
	-khtml-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	/*--Top left rounded corner--*/
	-moz-border-radius-topleft: 10px;
	-khtml-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

#submit {
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	color: white;
	padding: 1px;
	margin: 0 auto 0 35px;
	width: 120px;
	height: 30px;
	diplay: inline;
	list-style: none;
	float: left;
	background: #ff6666;
	border-color: white;
	/*--Top right rounded corner--*/
	-moz-border-radius-topright: 10px;
	-khtml-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	/*--Top left rounded corner--*/
	-moz-border-radius-topleft: 10px;
	-khtml-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

select {
	margin: 5px auto;
	text-align: center;
	font-size: 15px;
	color: #3399ff;
	-moz-border-radius: 5px;
	border: 1px solid #99ccff;
	font-weight: bold;
}
/* CONTENT */
#content {
	text-align: center;
	float: left;
	padding: 10px;
	margin: 10px auto 0px auto;
	width: 970px;
	min-height: 500px;
	height: auto;
	text-align: justify;
	font-size: 20px;
	line-height: 25px;
	color: #3399ff;
	overflow: hidden;
}
/* LEFT SIDE BAR */
#left_side_bar {
	float: left;
	padding: 2px;
	margin: 10px 5px 0px 0px;
	width: 200px;
	min-height: 500px;
	height: auto;
	text-align: left;
	font-size: 20px;
	line-height: 25px;
	color: #524e47;
	overflow: hidden;
}

#left_side_bar h3 {
	font-size: 20px;
	margin: 0px auto 7px auto;
	padding: 0;
	text-align: center;
	background: url('../images/top-spacer.jpg') no-repeat right bottom;
}

/* CENTER BAR */
#center_bar {
	float: left;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px auto 0px auto;
	width: 500px;
	min-height: 500px;
	height: auto;
	text-align: justify;
	font-size: 20px;
	line-height: 25px;
	color: #524e47;
	overflow: hidden;
	border-right: 5px;
	border-right-style: dotted;
	border-right-color: #cbc8bc;
	border-left: 5px;
	border-left-style: dotted;
	border-left-color: #cbc8bc;
}

#center_bar h1 {
	color: #33384f;
	text-align: left;
	margin: 3px;
	margin-bottom: 15px;
	margin-top: -10px;
	padding: 5px;
	font-size: 24px;
	line-height: 27px;
	background: url('../images/bottom-db-spacer.jpg') no-repeat left bottom;
}

#center_bar p {
	font-size: 21px;
	margin: 10px;
	padding: 10px;
}

/* RIGHT SIDE BAR */
#right_side_bar {
	float: left;
	padding: 0px;
	margin: 10px 0px 0px 5px;
	width: 183px;
	min-height: 500px;
	height: auto;
	text-align: justify;
	font-size: 20px;
	line-height: 25px;
	color: #524e47;
}

/* FOOTHER */
#foother {
	background: url('../images/foother_background.png') no-repeat left top;
	text-align: center;
	float: left;
	padding: 10px 10px -1px 10px;
	margin: 10px auto 10px auto;
	width: 970px;
	height: auto;
	font-size: 30px;
	line-height: 35px;
	color: white;
}

div.footer_glavni_meni {
	float: left;
	width: auto;
	height: auto;
	overflow: hidden;
	padding: 3px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
div.footer_glavni_meni td{
	text-align: left;
}
div.footer_glavni_meni h2 {
	text-align: center;
	line-height: 23px;
	width: 160px;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #545D6C;
	background: url('../images/kategorije.png') repeat-x left top;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	margin-top: 35px;
	padding: 3px;
}
div.footer_glavni_meni a:hover {
	text-decoration: underline;
}
a.foother_meni {
	font-weight: bold;
	overflow: hidden;
	font-size: 17px;
	line-height: 21px;
	text-align: left;
	color: #853938;
	margin: 0px;
	padding: 0px;
	width: auto;
	text-decoration: none;
}

#nav {
	float: left;
	min-height: 20em;
	width: 18em;
	margin: 0em .2em;
	padding: 0;
	background: transparent;
}

#sidebar {
	background: transparent;
	float: right;
	min-height: 60em;
	width: 18em;
	margin: 0 .2em;
	padding: 0em;
}

#sidebar h2 {
	
}

#main {
	float: left;
	background-color: #fff;
	min-height: 60em;
	width: 62em;
	margin: 0 auto;
	padding: .5em;
	-moz-border-radius: 5px;
	border: #aaa 1px solid;
}

#main a:hover {
	text-decoration: underline;
}

#subNav {
	float: right;
	width: 17em;
	margin: .5em;
	background: transparent;
}

#footer {
	margin: 0 0 0 0;
	padding: .1em;
	background-color: #fff;
	clear: both;
	height: auto;
	border-top: #aaa 1px solid;
}

#footer  p {
	padding: 5px;
}

#footer h2 {
	text-decoration: underline;
}

#footer a {
	text-decoration: none;
	font-size: 12px;
}

#footer a:hover {
	text-decoration: underline;
}

.footer_kategorije {
	float: left;
	min-width: 150px;
	min-height: 150px;
	margin: 10px;
	margin-left: 50px;
}

.footer_kategorije h2,a {
	margin: 10px;
}

.footer_kategorije td {
	
}

.footer_kruks {
	background: url('../images/foother_background.png') no-repeat left bottom;
	float: left;
	margin: 0;
	width: 970px;
	height: auto;
	padding: 0px;
	margin: 0px;
}

.footer_kruks a {
	font-size: 17px;
}

.footer_kruks em {
	font-size: 17px;
}

.featuredItem {
	float: left;
	padding: 2px 5px;
	margin: 5px;
	width: 51em;
	height: 173px;
	-moz-border-radius: 5px;
	border: 1px solid #749BCE;
	overflow: hidden;
	background-color: white;
}

.featuredItem h3 {
	margin-bottom: 5px;
}

.featuredItem h3 a {
	color: #000;
	text-decoration: none;
}

.featuredItem h3 a:hover {
	text-decoration: underline;
}

.featuredItem  p {
	font-size: 10px;
}

.featuredItem img {
	width: 150px;
	height: 150px;
	float: left;
	margin: 0 10px 5px 0;
}

.featuredItem ul {
	padding: 5px 30px;
}

.rightSide {
	float: right;
}

.clear {
	clear: both;
}